Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [ ]:
#string
s='Sanghita'

In [ ]:
#list
l=[1,2,3,4,5,'Sanghita',1.5,'@']

In [ ]:
#float
f=1.5

In [ ]:
#tuple
t=('a','b','c',1,2,3,4)

In [ ]:
var1='[ DS , ML , Python]'
type (var1)

str

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

i) String

ii) String

iii) list

iv) float

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %  

(iii) //

(iv) **

3.i) This operator returns the quotient value in the form of Float.

X= 10/2

X= 5.0

3.ii) This operator returns the remainder value.

X= 5%2

X=1

3.iii) This operator returns the quotient value in the form of integer.

X=10//2

X= 5

3.iv) a**b

This operator returns the value of a to the power of b.

x=8**2

x=64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [ ]:
data=['Sanghita',1,2,3,4,15*6,4**2, 6+8,5.9,True]
for i in data:
  print (i)

Sanghita
1
2
3
4
90
16
14
5.9
True

In [ ]:
for i in data:
  print (type (i))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [27]:
a=125 #initialisation
b=5 #initialisation
count=0
while (a%b==0): #Condition
  count = count+1 #Execution
  a= a/b #increment/decrement
print (count)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [36]:
Data=list(range(1,26))
for i in Data:
  if i%3==0:
    print(f'{i} is divisble by 3')
  else:
    print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisble by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisble by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisble by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisble by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisble by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisble by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisble by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisble by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

Mutable Data types are those which can be edited later.

For example:

l=[1,2,3,4,5]

In [ ]:
l=[1,2,3,4,5]
l[2]=10

In [ ]:
l

[1, 2, 10, 4, 5]

Immutable Data types are those where we cannot edit the data later.

Once the variable is defined, it cannot be changed.

For Example:

s=(1,2,3,4,5)

In [ ]:
s= (1,2,3,4,5)
s(2)==7

TypeError: ignored